#header.alt .logo {
  max-width: 25em;
  margin: 0 auto 1.5em auto;
}

.text-left {
  text-align: left !important;
}

#main header.major h2:after {
  background-color: #dddddd;
  background-image: -moz-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
  background-image: -webkit-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
  background-image: -ms-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
  background-image: linear-gradient(90deg, #aab096, #52756f, #184851);
}
.spotlight .image {
  padding: 0;
}

.square img {
  border-radius: 8px !important;
}

.border-none {
  border: none !important;
}

.img-large {
  width: 26em !important;
}
